a.out
Makefile
*.gch
CMakeCache.txt
CMakeFiles/
*~
*.swp
*.swo
*.o
lifish
!lifish/
lifish.exe
assets/test
cmake_install.cmake
doxy
cov-int
cov-token
gmon.out
lifish.tgz
*.dll
Lifish.app
test.json
*.lifish
*.pyc
*.exe
tags
