*.a
*.bak
*.filters
*.user
*.vcxproj
*.sln
Debug/
Release/
.vs/
a.out
Makefile
*.gch
CMakeCache.txt
CMakeFiles/
*~
*.swp
*.swo
*.o
lifish
!lifish/
lifish.exe
assets/test
cmake_install.cmake
doxy
cov-int
cov-token
gmon.out
lifish.tgz
*.dll
Lifish.app
test.json
*.lifish
*.pyc
*.exe
tags
clean.out
.gdbhist
*.old
gmon.out*
perf.data
tests/*.x
.lifish_*.txt
assets/final
.DS_Store
lvtest.json
.gdb_history
.vscode
.lif_prefs.json
